body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #c2c2c2;
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-image:
        radial-gradient(circle at left center, #7b622246, transparent 35%),
        radial-gradient(circle at right top, #1c70786c, transparent 50%),
        linear-gradient(to bottom, transparent 50%, #181818 100%),
        repeating-linear-gradient(#232323 0 1px, transparent 1px 2rem),
        repeating-linear-gradient(90deg, #232323 0 1px, transparent 1px 2rem);
    
    background-size: 
        100% 150vh,
        100% 100vh,
        100% 100vh,
        100% 100vh,
        100% 100vh;

    background-repeat: no-repeat;
    background-position: top center;
}

.bar {
    background-color: #181818;
    display: flex;
    position: fixed;
    margin: 1rem 4vh;
    width: 95%;
    gap: 100px;
    border: 1px solid #333;
    border-radius: 10px;
    height: auto;
    z-index: 10;
}

.bar p:first-child {
    margin-left: 2.5vh;
    margin-right: auto;
}

.bar p:last-child {
    margin-right: 5vh;
}

.bar p a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    transition: 0.1s;
}

.bar p a img {
    position: fixed;
    height: 3rem;
    top: 1.5rem;
    transition: 0.1s;
}

.bar p a:hover {
    color: #B2B2B2;
}

.bar p a img:hover {
    filter: brightness(75%);
}

main {
    min-height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    gap: 5rem;
}

.info, .hero {
    width: 80rem;
}

.hero {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.img-hero {
    margin: auto;
    height: auto;
    width: 40rem;
    transform: rotate(-0.5rad);
    transition: 0.2s;
}
.img-hero:hover {
    transform: rotate(-0.425rad);
}

.transform-hero-logo {
    transition: 0.2s;
}
.transform-hero-logo:hover {
    transform: scale(110%);
}

.hero h1 {
    font-size: 4rem;
    color: #fff;
}

.hero h2 {
    font-weight: 400;
    color: #999;
}

.hero-button {
    border-radius: 12rem;
    background-color: #cef5fb;
    border: 0;
    width: 12rem;
    height: 4rem;
    align-items: center;
    transition: 0.15s;
}

.hero-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #111;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    width: 60%;
    margin-left: 20%;
}

.hero-button a img {
    margin-left: 10%;
    width: 1.4rem;
}

.hero-button:hover {
    background-color: #c1f7ff;
    transform: scale(108%);
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem 3%;
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #181818;
    border: 1px solid #383838;
    border-radius: 1rem;
    padding: 1.5rem 2.5rem;
    display: flex;
    width: 42%;
    max-width: calc(50% - 6.62rem);
    transition: 0.2s;
}

.info-box:hover {
    transform: scale(104%);
}

.info-box p {
    flex-basis: 100%;
    margin-top: 0;
}

.info-destacado {
    max-width: 100%;
    width: 100%;
}

.info-icon {
    display: flex;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.info-box:nth-child(1) .info-icon {
    background-color: #4D2D00;
    border: 1px solid #FFC131;
}

.info-box:nth-child(2) .info-icon {
    background-color: #304E22;
    border: 1px solid #84EE53;
}

.info-box:nth-child(3) .info-icon {
    background-color: #40224E;
    border: 1px solid #BD53EE;
}

.info-box:nth-child(4) .info-icon {
    background-color: #0B3B41;
    border: 1px solid #24C8DB;
}

.info-box:nth-child(5) .info-icon {
    background-color: #4E2232;
    border: 1px solid #EE5389;
}

.info-box img {
    width: 1.3rem;
    height: 1.3rem;
    filter: invert();
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.foot {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 0.5rem 2rem;
    width: 80rem;
    max-width: 100%;
    margin: 0;
    padding: 1rem 0;
    border-top: 1px solid #282828;
}

.foot p {
    margin: 0; 
    color: white;
}

.foot a {
    color: #8C8CFF;
}

.foot a:visited {
    color: #FFADFF;
}

.foot-special {
    grid-column: 1 / -1; 
    text-align: center;
    margin-top: 1rem !important; 
    opacity: 0.6;
    font-size: 0.9rem;
}