body {
    background-color: #111;
    color: #ddd;
    min-height: 100%;

    background-image:
        radial-gradient(circle at left center, rgba(255,255,255,0.05), transparent 70%),
        radial-gradient(circle at right center, rgba(255,255,255,0.05), transparent 70%),
        repeating-linear-gradient(#2a2a2a 0 1px, transparent 1px 50px),
        repeating-linear-gradient(90deg, #2a2a2a 0 1px, transparent 1px 50px);
    
    /* Ensure the gradients cover the full screen height but no more */
    background-size: 
        50% 100vh,   /* radial left */
        50% 100vh,   /* radial right */
        100% 50px,   /* horizontal grid */
        50px 100%;   /* vertical grid */
}

.bar {
    background-color: #222;
    display: flex;
    position: fixed;
    margin: 1rem 4vh;
    width: 95%;
    gap: 100px;
    border-radius: 10px;
}

.bar p:first-child {
    margin-left: 4vh;
    margin-right: auto;
}

.bar p:last-child {
    margin-right: 5vh;
}

.bar p a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}

main {
    padding-top: 12rem;
}

.hero {
    padding-left: 8rem;
    display: flex;
}

.hero img {
    margin: auto;
    height: auto;
    max-height: 600px;
}

.hero h1 {
    font-size: 6rem;
    color: #ccc;
}

.hero h2 {
    font-weight: 500;
    color: #999;
}
