body {
    background-color: #181818;
    color: #c2c2c2;
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-image:
        radial-gradient(circle at left top, rgba(255,255,255,0.05), transparent 35%),
        radial-gradient(circle at right top, rgba(255,255,255,0.05), transparent 35%),
        repeating-linear-gradient(#232323 0 1px, transparent 1px 2rem),
        repeating-linear-gradient(90deg, #232323 0 1px, transparent 1px 2rem);
    
    background-size: 
        50% 100vh,
        50% 100vh,
        100% 2rem,
        2rem 100%;
}

.bar {
    background-color: #181818;
    display: flex;
    position: fixed;
    margin: 1rem 4vh;
    width: 95%;
    gap: 100px;
    border: 1px solid #333;
    border-radius: 10px;
    height: auto;
}

.bar p:first-child {
    margin-left: 2.5vh;
    margin-right: auto;
}

.bar p:last-child {
    margin-right: 5vh;
}

.bar p a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}

.bar p a img {
    position: fixed;
    height: 3rem;
    top: 2rem;
}

main {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    gap: 5rem;
}

.info, .hero {
    width: 80rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hero img {
    margin: auto;
    height: auto;
    width: 20rem;
}

.hero h1 {
    font-size: 4rem;
    color: #fff;
}

.hero h2 {
    font-weight: 400;
    color: #999;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem 3%;
}

.info-box {
    background-color: #181818;
    border: 1px solid #383838;
    border-radius: 1rem;
    padding: 1.5rem 2.5rem;
    display: flex;
    width: calc(42%);
    max-width: calc(100% / 2 - 6.62rem);
}

.info-destacado {
    max-width: 100%;
    width: 100%;
}

.info-icon {
    display: flex;
    background-color: #304E22;
    border: 1px solid #84EE53;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.info-box img {
    width: 1.3rem;
    height: 1.3rem;
    filter: invert();
}