body {
    background-color: #181818;
    color: #c2c2c2;
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-image:
        radial-gradient(circle at left top, rgba(255,255,255,0.05), transparent 35%),
        radial-gradient(circle at right top, rgba(255,255,255,0.05), transparent 35%),
        repeating-linear-gradient(#232323 0 1px, transparent 1px 50px),
        repeating-linear-gradient(90deg, #232323 0 1px, transparent 1px 50px);
    
    background-size: 
        50% 100vh,
        50% 100vh,
        100% 35px,
        35px 100%;
}

.bar {
    background-color: #181818;
    display: flex;
    position: fixed;
    margin: 1rem 4vh;
    width: 95%;
    gap: 100px;
    border: 1px solid #333;
    border-radius: 10px;
    height: auto;
}

.bar p:first-child {
    margin-left: 2.5vh;
    margin-right: auto;
}

.bar p:last-child {
    margin-right: 5vh;
}

.bar p a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}

.bar p a img {
    position: fixed;
    height: 3.5vh;
    top: 2.25vh;
}

main {
    padding-top: 12rem;
}

.hero {
    padding-left: 8rem;
    display: flex;
}

.hero img {
    margin: auto;
    height: auto;
    max-height: 600px;
}

.hero h1 {
    font-size: 6rem;
    color: #fff;
}

.hero h2 {
    font-weight: 500;
    color: #999;
}
